@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color-light: #f8fafc;
    --primary-color: #e2e8f0;
    --primary-color-dark: #94a3b8;
    --primary-color-text: #0c4a6e;

    --secondary-color-light: #0ea5e9;
    --secondary-color: #0369a1;
    --secondary-color-dark: #0c4a6e;
    --secondary-color-text: #e2e8f0;
}
