@tailwind base;
@tailwind components;
@import "./styles/typography.scss";
@import "./styles/global.scss";

:root {
    --theme-color-root: #489fb5;
    --theme-color-light: #d3e4e7;
    // --theme-color-lighter: #38bdf8;
    --theme-color-dark: #0e414b;
    // --theme-color-darker: #075985;
    --theme-color-control: #ede7e3;
    // --theme-color-wild-light: #fbbf24;
    --theme-color-wild: #ffa62b;
    // --theme-color-wild-dark: #d97706;
    --theme-rounded-primary: 0.2rem;
    --theme-rounded-secondary: 0.1rem;
}

@tailwind utilities;
