@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-color-root: #489fb5;
    --theme-color-light: #82c0cc;
    // --theme-color-lighter: #38bdf8;
    --theme-color-dark: #16697a;
    // --theme-color-darker: #075985;
    --theme-color-control: #ede7e3;
    // --theme-color-wild-light: #fbbf24;
    --theme-color-wild: #ffa62b;
    // --theme-color-wild-dark: #d97706;
    --theme-rounded-primary: 0.2rem;
    --theme-rounded-secondary: 0.1rem;
}
.text {
    &-title {
        @apply text-4xl sm:text-5xl xl:text-6xl tracking-wide xl:tracking-wider;
    }
    &-h1 {
        @apply text-3xl sm:text-4xl xl:text-5xl;
    }
    &-h2 {
        @apply text-2xl sm:text-3xl xl:text-4xl;
    }
    &-h3 {
        @apply text-xl sm:text-2xl xl:text-3xl;
    }
    &-h4 {
        @apply text-lg sm:text-xl xl:text-2xl;
    }
    &-h5 {
        @apply text-base sm:text-lg xl:text-xl;
    }
    &-normal {
        @apply text-base xl:text-lg;
    }
}
